<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
    <style>
    </style>
</head>

<body>

    <div id="app">
        <ul>
            <li v-for="n in 10">{{ n }}

            </li>
        </ul>
        <ul>
            <li v-for="n in numero">{{ n }}

            </li>
        </ul>
        <hr>
        <!-- primeira forma -->
        <!-- <ul>
            <li v-for="curso in cursos" v-text="curso"></li> 
        </ul> -->
        <!-- segunda forma (chave ou key = indice do array) -->
        <ul>
            <!-- <li v-for="(curso,chave) in cursos">{{chave}} - {{curso}}</li>  -->
            <li v-for="(curso,chave) in cursos" v-text="chave +' - '+ curso"></li>

        </ul>
        <hr>

        <table border="1">
            <thead>
                <th>ID</th>
                <th>Título</th>
                <th>Descrição</th>
            </thead>
            <tbody>
                <!-- <tr v-for="(curso, index) in cursos" :key="index"> --><!-- esse é o modo convencional-->
                <tr v-for="({titulo, descricao}, index) in cursos" :key="index">
                    <!-- usando destructuring assignment ou seja escolhendo campos/atributos-->
                    <td>{{ index }}</td>
                    <td>{{ titulo }}</td>
                    <td>{{ descricao }}</td>
                </tr>

            </tbody>
        </table>
        <hr>
        <ul>
            <li v-for="(p) in publicacoes" :key="p.id" style="border: solid 1px; margin-bottom: 10px;">
                {{ p.publicacao }}
                <hr>
                <input type="text">
            </li>
        </ul>
        <button @click="misturarArray()">Misturar Publicações</button>

    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                numero: 5,
                cursos: ['Laravel', 'Web Completo', 'Banco de Dados', 'Solid', 'Angular'],
                cursos: {
                    1000: {
                        titulo: 'Laravel',
                        descricao: 'Domine o framework PHP mais poderoso do mundo'
                    },
                    1001: {
                        titulo: 'Banco de Dados',
                        descricao: 'Aprenda os principais BDs relacionais do mercado'
                    }
                },
                publicacoes: [
                    { id: 1, publicacao: 'publicação 1' },
                    { id: 2, publicacao: 'publicação 2' },
                    { id: 3, publicacao: 'publicação 3' },
                ]
            },
            methods: {
                misturarArray() {
                    let misturado = []

                    misturado[0] = this.publicacoes[2]
                    misturado[1] = this.publicacoes[0]
                    misturado[2] = this.publicacoes[1]
                    this.publicacoes = misturado
                }
            }
        })

    </script>


</body>

</html>